@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav navbar-right">
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <li>
            <a href="#">@UserManager.GetUserName(User)</a>
        </li>
        <li>
            <button type="submit" class="btn btn-default navbar-btn navbar-link">Logout</button>
        </li>
    </form>
</ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register">Registar</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}
